@import "../../app.scss";

.contact {
    z-index: 2;
    // background-color: aliceblue;
    height: 100%;

    .wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1266px;
        gap: 20px;
        margin: auto;
        // flex-wrap: wrap;


        .textContainer {
            // border: 1px solid wheat;
            display: flex;
            // align-items: ;
            justify-content: start;
            flex-direction: column;
            width: 500px;
            gap: 30px;

            h1 {

                font-size: 3rem;
            }

            .item {
                h2 {
                    font-weight: 400;
                }

                span {
                    color: rgb(177, 176, 176);
                    font-weight: 300;
                }
            }


        }

        .formContainer {
            position: relative;
            // width: 100%;

            .phoneSvg {
                position: absolute;
                margin: auto;
                stroke: orange;
                stroke-width: 0.3;
                z-index: -1;

                svg {
                    // background-color: aliceblue;
                    width: 50%;
                    height: 50%;

                }
            }

            form {
                width: 500px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input,
                textarea {
                    background-color: transparent;
                    padding: 6px 10px;
                    border: none;
                    border: 0.5px solid rgb(196, 195, 195);
                    border-radius: 4px;
                    color: rgb(203, 200, 200);
                    font-size: 1.2rem;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    padding: 10px;
                    font-weight: 500;
                    font-size: 1.3rem;
                    background-color: orange;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }

        @include mobile {
            flex-direction: column;
            justify-content: space-around;

            .textContainer {
                // border: 2px solid wheat;
                padding: 10px;
                width: 100%;
                z-index: 888;

                h1 {
                    font-size: 1.5rem;
                }

                .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    h2 {
                        font-size: 1.5rem;
                    }

                    span {
                        display: block;
                        font-size: 1.5rem;
                    }

                }
            }

            .formContainer {
                width: 100%;
                padding: 20px;
                form {
                    width: 100%;

                    input,
                    textarea {
                        width: 100%;
                    }
                }
            }

        }


    }
}